@font-face { /* https://www.1001freefonts.com/vanilla-extract.font */
  font-family: "Polygam";
  src: url("fonts/VanillaExtractRegular.ttf") format("truetype");
}

body
{  
  margin  : 0; 
  padding : 0;
}

.container 
{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3.6em auto auto auto;
  place-items: stretch;
  grid-template-areas: 
  "header"
  "welcome"
  "app"
  "info";
}

.header 
{
  grid-area : header;
  text-align: center;
}


.welcome 
{
  grid-area : welcome;
}

.app 
{
  grid-area : app;
}

.blog 
{
  grid-area : info;
}

:root
{
  --poly1 : #833AB4;
  --poly2 : #FD1D1D;
  --poly3 : #FCB045;

}

.rainbow 
{
  background-image:         gradient( linear, left top, right top, 
                                      color-stop(0,   var(--poly1)), 
                                      color-stop(0.5, var(--poly2)), 
                                      color-stop(1,   var(--poly3)));

  background-image: -webkit-gradient( linear, left top, right top, 
                                      color-stop(0,   var(--poly1)), 
                                      color-stop(0.5, var(--poly2)), 
                                      color-stop(1,   var(--poly3)) );

  color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Polygam", sans-serif;
  font-size: 2em;
}