/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

/*   Graph styles  */
.link {
    stroke: #777;
    stroke-width: 2px;
  }
  
  .node {
    fill: #CCC;
    stroke: #777;
    stroke-width: 2px;
  }
  
  rect {
    fill: none;
    stroke: #888;
    stroke-width: 2px;
    pointer-events: all;
  }
  
  text {
    font-family: monospace;
    font-size: 1.25em;
    fill : #000;
    stroke-width: 0;
  }
  
  svg {
    background: #555;
  }
  
  body {
    background: #333;
  }
  
  /* Main page styles */

  .container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows:    25% 100px auto;
    grid-template-areas: 
    "<grid-area-name> | . | none | ..."
    "...";
  }